#SET{articles_tri,#ARRAY}
<BOUCLE_date_tri_futur(ARTICLES){id_rubrique=#ENV{id_rubrique}}{id_mot?=#ENV{id_mot}}{par date}{age<0}>
			[(#SET{articles_tri, #GET{articles_tri}|array_merge{#ARRAY{#COMPTEUR_BOUCLE,#ID_ARTICLE}}})]
</BOUCLE_date_tri_futur>
[(#SET{compteur_present,#TOTAL_BOUCLE})]
</B_date_tri_futur>
<BOUCLE_date_tri_passe(ARTICLES){id_rubrique=#ENV{id_rubrique}}{id_mot?=#ENV{id_mot}}{par date}{inverse}{age>=0}>
			[(#SET{articles_tri, #GET{articles_tri}|array_merge{#ARRAY{#COMPTEUR_BOUCLE|plus{#GET{compteur_present}},#ID_ARTICLE}}})]
</BOUCLE_date_tri_passe>

<B_list>
<div>
#ANCRE_PAGINATION
<div class="sub-article-list" id="list#ENV{id_rubrique}">
	<BOUCLE_list(ARTICLES) {lang_select=non}{id_article IN #GET{articles_tri}}{pagination #ENV{pagination,15} #ENV{id_rubrique}}>
	<div itemprop="event" itemscope itemtype="http://schema.org/Event" class="sub-article[ (#COMPTEUR_BOUCLE|>{#GET{compteur_present}}|oui)past][ (#COMPTEUR_BOUCLE|<={#GET{compteur_present}}|oui)futur][ (#ENV{date}|affdate|=={#DATE|affdate}|oui)today][ (#COMPTEUR_BOUCLE|=={1}|oui)focus]">
		<a class="sub-article-title" href="#" onclick="$(this).parent('div').toggleClass('focus');return false"><h3><i class="star fa fa-star"></i>&nbsp; <span itemprop="name">#TITRE</span> [(#ENV{date}|!={0}|oui)<meta itemprop="startDate" content="[(#DATE|affdate{'c'})]"/><span class="sub-article-date" title="[(#DATE|affdate_heure)]">[(#DATE|affdate)][ (#COMPTEUR_BOUCLE|<={#GET{compteur_present}}|oui)<i class="fa fa-clock-o"></i>][ (#ENV{date}|affdate|=={#DATE|affdate}|oui)<i class="fa fa-exclamation-circle"></i>]</span>]</h3></a>
		<a itemprop="url" href="#list#ENV{id_rubrique}"></a>
		[<div itemprop="description" class="sub-article-text">
			(#TEXTE|replace{\n,#EVAL{"chr(10)"}#EVAL{"chr(9)"}#EVAL{"chr(9)"}#EVAL{"chr(9)"}})
		</div>]
		<B_mots><div class="sub-article-keywords">
			<i class="fa fa-tags"></i>&nbsp;<BOUCLE_mots(MOTS){id_article}{", "}><a href="[(#SELF|parametre_url{id_mot,#ID_MOT})#liste#ID_RUBRIQUE]">#TITRE</a></BOUCLE_mots>
		</div></B_mots>
	</div>
	</BOUCLE_list>

	<div class="sub-article-list-footer">
		<a href="#URL_SITE_SPIP?page=backend&sr=#ENV{id_rubrique}" title="Flux RSS" class="float-left sub-rss"><i class="fa fa-rss-square"></i></a>
		<B_mots_rubrique>
		<div class="sub-article-list-keywords">
		<i class="fa fa-tag"></i>
			<select onchange="window.location.href=this[this.selectedIndex].value">
				<option value="[(#SELF|parametre_url{id_mot,''})#liste#ID_RUBRIQUE]"[ (#ENV{id_mot}|non)selected]>[ (#ENV{id_mot}|?{Tout afficher,Trier par mot-clé})]&nbsp;</option>
				<BOUCLE_mots_rubrique(MOTS){id_article IN #GET{articles_tri}}>
				<option value="[(#SELF|parametre_url{debut#ENV{id_rubrique},''}|parametre_url{id_mot,#ID_MOT})#liste#ID_RUBRIQUE]"[ (#EXPOSE|oui)selected]>#TITRE</option>
				</BOUCLE_mots_rubrique>
			</select>
		</div>
		</B_mots_rubrique>
		[<div class="sub-article-pagination">
			(#PAGINATION{page}|replace{\n,#EVAL{"chr(10)"}#EVAL{"chr(9)"}#EVAL{"chr(9)"}#EVAL{"chr(9)"}})
		</div>]
	</div>
</div>
</div>
</B_list>
<p class="center">Aucun résultat</p>
<//B_list>
